# Dotfiles
if [ -d "$HOME/dotfiles" ]; then
  alias config='/usr/bin/git --git-dir=$HOME/dotfiles --work-tree=$HOME'
fi

# Generic Files and Apps
if [ which nvim &>/dev/null ]; then
  alias vim='nvim'
fi

if [ which exa &>/dev/null ]; then
  alias ls='exa'
fi

if [ which feh &>/dev/null ] && [ -d "$HOME/Media/wallpapers" ]; then
  alias wp="feh --bg-fill --randomize $HOME/Media/wallpapers"
fi

if [ which xclip &>/dev/null ]; then
  alias setclip="xclip -selection c"
  alias getclip="xclip -selection c -o"
fi

if [ which startx &>/dev/null ]; then
  alias s="startx"
fi

# Strip comments
alias eel='grep -v "^\s*[#\;]\|^\s*$"'

# Aliases for Git
alias gst="git status"
alias grv="git remote -v"
alias gdlc="git diff HEAD~1 HEAD"

# Aliases for Ansible
alias ap="ansible-playbook"
alias acl="ansible-config list"
alias ail="ansible-inventory --list"
alias aig="ansible-inventory --graph"

# Aliases for Vagrant
alias vs="vagrant status"
alias vu="vagrant up"
alias vdf="vagrant destroy --force"
alias vss="vagrant ssh"

# Aliases for Docker
alias dcpsa="docker container ps -a"
alias d-c="docker-compose"
alias draq='docker rm $(docker ps-a -q)'



