#  ___      ___  __   ___
# |"  \    /"  ||/"| /  ") Maros Kukan
#  \   \  //   |(: |/   /  https://buldogchef.com
#  /\\  \/.    ||    __/   https://github.com/maroskukan
# |: \.        |(// _  \
# |.  \    /:  ||: | \  \
# |___|\__/|___|(__|  \__)
#
# My favorite aliases which are can be sourced from shell rc file
#
# if [ -f "$HOME/.aliases" ]; then
#   source $HOME/.aliases
# fi

# Dotfiles
if [ -d "$HOME/dotfiles" ]; then
  alias config='/usr/bin/git --git-dir=$HOME/dotfiles --work-tree=$HOME'
fi

# Generic Files and Apps
if which dasel &>/dev/null; then
  alias ds='dasel'
fi

if which nvim &>/dev/null; then
  alias vim='nvim'
fi

if which exa &>/dev/null; then
  alias ls='eza --icons'
fi

if which feh &>/dev/null && [ -d "$HOME/Media/wallpapers" ]; then
  alias wp="feh --bg-fill --randomize $HOME/Media/wallpapers"
fi

if which xclip &>/dev/null; then
  alias setclip="xclip -selection c"
  alias getclip="xclip -selection c -o"
fi

if which startx &>/dev/null; then
  alias s="startx"
fi

# Strip comments
alias eel='grep -v "^\s*[#\;]\|^\s*$"'

# Aliases for Git
alias gst="git status"
alias grv="git remote -v"
alias gdlc="git diff HEAD~1 HEAD"

# Aliases for Ansible
alias ap="ansible-playbook"
alias acl="ansible-config list"
alias ail="ansible-inventory --list"
alias aig="ansible-inventory --graph"
alias anr="ansible-navigator run --mode stdout"
alias ansc="ansible-navigator run --mode stdout --syntax-check"
alias ancd="ansible-navigator config dump --mode stdout"
alias anv="ansible-navigator --version"
alias anig="ansible-navigator inventory --graph"

# Aliases for Vagrant
alias vs="vagrant status"
alias vu="vagrant up"
alias vdf="vagrant destroy --force"
alias vss="vagrant ssh"

# Aliases for Docker
alias dcpsa="docker container ps -a"
alias d-c="docker-compose"
alias draq='docker rm $(docker ps -a -q)'

# Aliases for Kubernetes
alias k="kubectl"
alias kns="kubectl config set-context --current --namespace"

# Aliases and completions for K8s
if [ -f "/etc/bash_completion.d/kubectl" ]; then
  alias k="kubectl"
  complete -o default -F __start_kubectl k
fi

# Aliases for life improvement
alias pastebin="curl -F 'sprunge=<-' http://sprunge.us"

# Aliases for gemini
alias g="gemini"

# Aliases for terraform
alias tfmt="terraform fmt"
alias tval="terraform validate"
alias tp="terraform plan"
alias ta="terraform apply"
alias td="terraform destroy"
alias to="terraform output"

# Functions for Medusa
function medusa(){
  docker run   \
    -v $(pwd):/tmp/output/ \
    -w /tmp/output/ \
    --user $(id -u):$(id -u) \
    -e VAULT_ADDR=$VAULT_ADDR \
    -e VAULT_TOKEN=$VAULT_TOKEN \
    -e VAULT_SKIP_VERIFY=$VAULT_SKIP_VERIFY \
    ghcr.io/jonasvinther/medusa:latest "$@"
}

# Functions for VMware tools
function govc(){
  docker run   \
    --rm \
    -it \
    -v $(pwd):/tmp/output/ \
    -w /tmp/output/ \
    -e GOVC_URL=$GOVC_URL \
    -e GOVC_INSECURE=$GOVC_INSECURE \
    vmware/govc:latest /govc "$@"
}

function vcsim(){
  docker run   \
    -v $(pwd):/tmp/output/  \
    -w /tmp/output/ \
    -p 9090:9090 \
    vmware/vcsim:latest -l :9090 "$@"
}
