#  ___      ___  __   ___
# |"  \    /"  ||/"| /  ") Maros Kukan
#  \   \  //   |(: |/   /  https://buldogchef.com
#  /\\  \/.    ||    __/   https://github.com/maroskukan
# |: \.        |(// _  \
# |.  \    /:  ||: | \  \
# |___|\__/|___|(__|  \__)
#
# My favorite exports which are can be sourced from shell rc file
#
# if [ -f "$HOME/.exports" ]; then
#   source $HOME/.exports
# fi

# Path Customization for apps
if [ -d "$HOME/go/bin" ] ; then
  export GOROOT="$HOME/go/bin"
  export PATH="$GOROOT:$PATH"
  #export PATH="$HOME/go/bin:$PATH"
fi

if [ -d "$HOME/adb-fastboot/platform-tools" ] ; then
  export PATH="$HOME/adb-fastboot/platform-tools:$PATH"
fi

# Generic Files and Apps
export EDITOR=$(which vim)

# This prevents less from clearing up the screen
# E.g. for manpages
export LESS='-XFR'

# This fixes unicode char rendering in less and bat
# https://github.com/sharkdp/bat/issues/2578
export LESSUTFCHARDEF=E000-F8FF:p,F0000-FFFFD:p,100000-10FFFD:p
